@model St10405518_GiftOfTheGiversWeb.Models.GoodsDonation

<div class="container mt-4">
    <h3>Are you sure you want to delete this donation?</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.DATE)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.DATE)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.ITEM_COUNT)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.ITEM_COUNT)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.CATEGORY)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.CATEGORY)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.DESCRIPTION)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.DESCRIPTION)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.DONOR)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.DONOR)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="GOODS_DONATION_ID" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
    </form>
</div>
